# Core functionality - changes here should be rare!
/src/app.py                   @ahmedd-mahmoudd
/src/backend/database.py      @ahmedd-mahmoudd
/src/backend/routers/auth.py  @ahmedd-mahmoudd

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ahmedd-mahmoudd
